body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.main-container{
    height: 100vh;
    width: 100%;
    display: flex;
}

aside{
    width: 270px;
    background-color: rgb(26, 26, 26);
    padding: 0 15px;
    box-sizing: border-box;
    overflow-y: auto;
}

main{
    width: 100%;
    flex: 1fr;
    background-color: rgb(233, 233, 233);
    height: 100vh;
}

header{
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px rgb(0, 0, 0, 0.35);
}

aside hr{
    border: 1px solid rgb(47, 47, 47);
}

aside h2{
    text-align: center;
    color: white;
    font-weight: 500;
}

aside h6{
    color: rgb(129, 128, 128);
    font-weight: 500;
    margin-bottom: 0;
}

aside h5{
    color: white;
    font-weight: 500;
    margin-left: 15px;
    border-radius: 7px;
    padding: 7px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;

}

aside h5:hover{
    background-color: rgba(255, 255, 255, 0.158);
    cursor:pointer
}